* {
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: sans-serif;
    padding: 90px 20px 0px;
    background-position: fixed;
    background-color: white;
    background-image: linear-gradient(to right, #5533FF, #2BC4F6);
}

header {
    background-image: linear-gradient(to right, #5533FF, #2BC4F6);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.principal {
    display: flex;
    width: 100% auto;
    padding: 40px 10px 20px 25px;
    margin: 0 auto;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.titulo {
    width: fit-content auto;
    height: 100px auto;
    margin: 50px auto;
    padding-right: 10px;
    color: black;
    text-align: justify;

}
.figura {
    width: fit-content auto;
    height: 50% auto;
    padding-right: 30px;
}
