*{

    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 90px 20px 0px;
    background-image: linear-gradient(to right,#5533FF,#2BC4F6);
    background-position: fixed;
}

header {
    background-image: linear-gradient(to right,#5533FF,#2BC4F6);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.contenedor {
    padding-left: 250px ;

}

#caja1 {
    padding: 30px;
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    float: left;
    text-align: justify;
    border: black solid;
    margin: 10px;
    justify-content: space-between;
}

#caja2{
    padding: 30px;
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    float: left;
    text-align: justify;
    border: black solid;
    margin: 10px;
    justify-content: space-between;
}

#caja3{
    padding: 30px;
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    float: left;
    text-align: justify;
    border: black solid;
    margin: 10px;
    justify-content: space-between;
}

#caja4{
    padding: 30px;
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    float: left;
    text-align: justify;
    border: black solid;
    margin: 10px;
    justify-content: space-between;
}

#caja5{
    padding: 30px;
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    float: left;
    text-align: justify;
    border: black solid;
    margin: 10px;
    justify-content: space-between;
}
#caja6{
    padding: 30px;
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    float: left;
    text-align: justify;
    border: black solid;
    margin: 10px;
    justify-content: space-between;
}
