* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 90px 20px 0px;
    background-image: linear-gradient(to right, #5533FF, #2BC4F6);
    background-position: fixed;
}

header {
    background-image: linear-gradient(to right, #5533FF, #2BC4F6);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
