* {
    padding: 0;
    box-sizing: border-box
    
}

body {
    font-family: sans-serif;
    padding: 90px 20px 0px;
    background-image: linear-gradient(to right,#5533FF,#2BC4F6);
    background-position: fixed;
}

.header {
    background-image: linear-gradient(to right,#5533FF,#2BC4F6);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    margin-left: 150px;

}
.nav-link {
    color: white;
    text-decoration: none;
}

.Logo {
    font-size: 40px;
    padding: 20px 15px;
    line-height: 50px;
    
}

.nav-menu {
    display: flex;
    margin-right: 10px;
    list-style: none;
    
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 50px;
    width: max-content;

}

.nav-menu-link {
    padding: 8px 10px;
    border-radius: 3px;
    
}

.nav-menu-link:hover {
    background-color: #482ccf;
    transition: 0.5s;
}

#caja1{
    width: 300px;
    height: 250px;
    border: black solid;
    background-color: white;
    border-radius: 10px;
    float: left;
    text-align: center;
}

#caja2{
    width: 300px;
    height: 250px;
    border: black solid;
    background-color: white;
    border-radius: 10px;
    float: left;
    text-align: center;
}

#caja3{
    width: 300px;
    height: 250px;
    border: black solid;
    background-color: white;
    border-radius: 10px;
    float: left;
    text-align: center;
}

.contenedor {
    width: 100% auto fit-content;
    height: 100% auto fit-content;
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

footer.team {
    width: 100% auto fit-content;
    height: 100% auto fit-content;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    color: rgb(49, 47, 47);
}

#int1 {
    width: 300px auto;
    height: 250px auto;
    border: black solid;
    background-color:white;
    border-radius: 10px;
    float: left;
    text-align: center;
}

#int2 {
    width: 300px auto;
    height: 250px auto;
    border: black solid;
    background-color: white;
    border-radius: 10px;
    float: left;
    text-align: center;
}    
#int3 {
        width: 300px auto;
        height: 250px auto;
        border: rgb(0, 0, 0) solid;
        background-color: white;
        border-radius: 10px;
        float: left;
        text-align: center;
}

#int4 {
    width: 300px auto;
        height: 250px auto;
        border: rgb(0, 0, 0) solid;
        background-color: white;
        border-radius: 10px;
        float: left;
        text-align: center;
}