* {
    padding: 0;
    box-sizing: border-box
    
}

body {
    font-family: sans-serif;
    padding: 90px 20px 0px;
    background-image: linear-gradient(to right,#5533FF,#2BC4F6);
    background-position: fixed;
    
}

.header {
    background-image: linear-gradient(to right,#5533FF,#2BC4F6);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    margin-left: 150px;

}
.nav-link {
    color: white;
    text-decoration: none;
}

.Logo {
    font-size: 40px;
    padding: 20px 15px;
    line-height: 50px;
    
}

.nav-menu {
    display: flex;
    margin-right: 10px;
    list-style: none;
    
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 50px;
    width: max-content;

}

.nav-menu-link {
    padding: 8px 10px;
    border-radius: 3px;
    
}

.nav-menu-link:hover {
    background-color: #482ccf;
    transition: 0.5s;
}

#caja1{
    padding: 30px;
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    float: left;
    text-align: justify;
    border: black solid;
}

#caja2{
    padding: 30px;
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    float: left;
    text-align: justify;
    border: black solid;
}

#caja3{
    padding: 30px;
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    float: left;
    text-align: justify;
    border: black solid;
}

#caja4{
    padding: 30px;
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    float: left;
    text-align: justify;
    border: black solid;
}

.contenedor1 {
    width: 100% auto fit-content;
    height: 100% auto fit-content;
    padding: 25px;
    display: flex;
    justify-content: space-around;

    
}

.contenedor2 {
    width: 100% auto fit-content;
    height: 100% auto fit-content;
    padding: 25px;
    display: flex;
    justify-content: space-around;

}

#title {
    background-color: white;
    width: 80% auto fit-content;
    height: 80% auto fit-content;
    border-radius: 20px;
    border: black solid;

}